.FindPlace{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    .FindPlaceP{
        position: absolute;
        left: -50%;
        top: -50%;
    }    




}
    
        



