.FindPlace{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    .FindPlaceP{
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .FindPlaceP1{
            font-size: 35px;
            margin-bottom: 20px;
            font-weight: bold;
        }
        .FindPlaceP2{
            font-size: 16px;
        }
    }    
    .FindPlace_country{
        display: flex;
        flex-direction: column;
        width: 100%;
        .FindPlace_country_detail{
            display: flex;
            justify-content: space-between;
            .FindPlace_country_detail_left{
                width: 25%;
                height: 500px;
                .FindPlace_country_detail_left_img{
                    width: 70%;
                    .FindPlace_country_detail_left_img img {
                        width: 60%;
                    }
                    .haerbinpic{
                        overflow: hidden;
                        width: 383px ;
                        height: 411px ;    
                    }
                }
            }
            .FindPlace_country_detail_right{
                width: 55%;
                display: flex;
                flex-direction: column;
                padding: 30px;
                .FindPlace_country_detail_right_title{
                    letter-spacing: 3px;
                    margin-bottom: 20px;
                    p:nth-child(1){
                        font-size: 32px ;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                    p:nth-child(2){
                        font-size: 20px ;
                        font-weight: lighter;
                    }
                    }
                .FindPlace_country_detail_right_title_p{
                    color: #ccc;
                }
                }

        }
        
        
    }



}
    
        



