.FindPlace{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    .FindPlaceP{
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .FindPlaceP1{
            font-size: 35px;
            margin-bottom: 20px;
            font-weight: bold;
        }
        .FindPlaceP2{
            font-size: 16px;
        }
    }    
    .FindPlace_country{
        display: flex;
        flex-direction: column;
        width: 100%;
        .FindPlace_country_detail{
            display: flex;
            justify-content: space-between;
            .FindPlace_country_detail_left{
                width: 30%;
                .FindPlace_country_detail_left_img{
                    width: 70%;
                    .FindPlace_country_detail_left_img img {
                        width: 390px ;
                        height: 412px ;
                    }
                }
            }
            .FindPlace_country_detail_right{
                width: 60%;
            }

        }
        
        
    }



}
    
        



