.LeftControlbar{
    padding: 20px 10px;
    background: rgba(255, 255, 255, 0.25);
    width: 20%;
    height: 100vh;
    background-color: #ffffff;
    border: 1px solid #333;
    overflow: hidden;

    .background{
        // background-color: #fafafa;
        background: rgba(255, 255, 255, 0.25);
        width: 100%; 
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    
    }
    .Place{
        width: 100%;
        margin-bottom:15px ;
        text-align: center;
        #korCityname{font-size: 30px; font-weight: bold; margin-bottom: 10px;}
        #engCityname{font-size: 18px; font-weight: 600;}
    }

    .center{text-align: center;}

    .planeticketing{
        width: 100%;
        #Flightbutton{
            display: flex;
            justify-content: center;
        }
        .Flightbutton{
            color: #000;
            cursor: pointer;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            padding: 4px 8px;
            box-shadow: rgba(31, 38, 135, 0.14 ) 0px 8px 32px 0px;
            background: rgba(255, 255, 255, 0.25);
        }
    }
    .selectList{
        width: 100%;
        margin-top: 30px;
    }
    #tabs{
        width: 100%;
        .tab{
            color:#616161 ;
            border-bottom:2px solid #98dde3;
            width: 100%;
            text-align: center;
            line-height: 30px;
            font-size: 18px;
        }
    }

    .left_bottom_ul{
        width: 100%;
    }
    .center{
        width: 100%;
        #seletedSpotsCount {
            font-size: 1.64rem;
            color: #ffa500;
            font-family: 'Montserrat';
        }
    }
    .center2{
        width: 100%;
        .Clearbtn {
            width: 70%;
            line-height: 0;
            height: 36px;
            box-shadow: none;
            background-color: #ff1744 !important;
            color: #fff;
            border: none;
            h6{
                font-size: 16px;
            }
        }
    }
    hs{
        font-size:9px ;
        color: #aaa;
    }
    .ul-style{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    }
}


@media ( max-width: 768px ) {
    .LeftControlbar .background{
        .left_bottom_ul{
            .center{
                display: flex;
                flex-direction: column;
            }
            .center2{
                .Clearbtn{
                    width: 100%;
                    h6{
                        font-size: 13px;
                    }
                }
            }
        }
}
}

@media ( max-width: 600px ) {

    @media ( max-width: 600px ) {
        .LeftControlbar{
            // position: relative
            width: 100% ;
            margin-bottom: 0;
            padding: 0;
            margin-top: 0;
            .background{
                width: 100%;
                height: auto;
                background-color: #fafafa;
                .Place{
                    order: 1;
                    position: absolute;
                    left: 0;
                    top: 0 ;
                    z-index: 1;
                }
                .planeticketing{
                    display: none;
                }
                .selectList{
                    height: 0;
                    position: relative;
                    p{
                    position: absolute;
                    left: -35%;
                    top: 8px;
                    z-index: 1;
                    font-size: 25px;
                    font-weight: bold;
                    }
                    // order: 2;
                    // font-size: 25px;
                    // font-weight: bold;
                }
                .center{
                    display: none;
                }
                .left_bottom_ul{
                    order: 2;
                    position: relative ;
                    .center{
                        // 시간
                        margin: 0;
                        height: 50px;
                        order: 1;
                        position: absolute;
                        top: 0;
                        right: 0 ;
                    }
                    .center2{
                        order: 2;
                        position: relative ;
                        height: 0;
                        .Clearbtn{
                            width: 100px;
                            position: absolute;
                            right: 0;
                            top: 0;
                            h6{
                                font-size: 13px;
                            }
                        }
                    }
                    .ul-style{
                        order: 3;
                        display: flex;
                        flex-direction: row;
                        overflow-x: scroll;
    
                    }
                }
            }
    
        }
    }
}